//- Footer Created by Ricardo on 1/19/16.
footer
   .container
      .row
         .col-lg-12
            ul.list-inline
               li
                  a(href='./') Home
                     li.footer-menu-divider ⋅
                     li
                        a(href='./#about') About
                     li.footer-menu-divider ⋅
                     li
                         a(href='./#contact') Contact
                     li.footer-menu-divider ⋅
                     li
                         p.copyright.text-muted.small Copyright © RicardoTerrazas Company 2026. All Rights Reserved