//
   Created by Ricardo on 1/20/16.

extends layout

block content
   .content-section-b
      .container
         .row
            .col-lg-5.col-sm-6
               hr.section-heading-spacer
               .clearfix
               h2.section-heading
                  | My Projects
               label Java
               ul
                  li Java Application using Swing & JDBC for UPS
                  li
                     a(href="https://github.com/rterrazas328/PI-Approximation") PI-Approximation
               label C#
               ul
                  li C# Application for UPS
               label ARM Assembly/C
               ul
                  li
                     a(href="https://github.com/rterrazas328/Add") Add
                  li
                     a(href="https://github.com/rterrazas328/FindMax") FindMax
                  li
                     a(href="https://github.com/rterrazas328/Substitute") Substitute
               label C
               ul
                  li
                     a(href="https://github.com/rterrazas328/C-Arguments-Memory-Map") C Arguments Memory Map
                  li
                     a(href="https://github.com/rterrazas328/Print-VideoData-From-Youtube") Print VideoData From Youtube
                  li
                     a(href="https://github.com/rterrazas328/Random-Matrix-Solver") Random Matrix Solver
                  li
                     a(href="https://github.com/rterrazas328/Sockets-DistanceVector-4Way") Sockets 4-Way Distance Vector
               label Bash
               ul
                  li
                     a(href="https://github.com/rterrazas328/Alphabetical-Directory-Count") Alphabetical Directory Count
                  li
                     a(href="https://github.com/rterrazas328/Average-File-Size") Average File Size
                  li
                     a(href="https://github.com/rterrazas328/Reverse-LS") Reverse LS
                  li
                     a(href="https://github.com/rterrazas328/Extract-Youtube-Metadata") Extract Youtube Metadata
               label Web Projects (MySQL, PHP, Mongodb, Node.js, HTML, CSS, JavaScript & hosted on heroku)
               ul
                  li
                     a(href="https://desolate-beach-33406.herokuapp.com") College Stats With D3, C3 Graphs
                  li
                     a(href="https://pure-ocean-82817.herokuapp.com") MyUsic Music Social Media website