extends layout

//- Created by Ricardo on 1/20/16.



block content
   .content-section-b
      .container
         .row
            .col-lg-5.col-sm-6
               hr.section-heading-spacer
               .clearfix
               h2.section-heading
                  | Demo Projects and Repos
               h4
                  label Web Projects (hosted on Railway from docker images)
               ul.list-group
                  li.list-group-item
                     a(href="https://is219demoapp-production.up.railway.app/") College Stats With D3, C3 Graphs #[span(style="color: gray;float: right;") (Express JS with MongoDB)]
                  li.list-group-item
                     a(href="https://myusicdemoapp-production.up.railway.app/") MyUsic Music Social Media website #[span(style="color: gray;float: right;") (PHP Laravel with MySQL)]
                  li.list-group-item
                     a(href="https://blazordemoapp-production.up.railway.app/") Blazor demo login & simple CRUD #[span(style="color: gray;float: right;") (Blazor C# with MS SQL)]
               h4
                  label Java
               ul.list-group
                  li.list-group-item Java Application using Swing & JDBC for UPS
                  li.list-group-item
                     a(href="https://github.com/rterrazas328/PI-Approximation") PI-Approximation
               h4
                  label C#
               ul.list-group
                  li.list-group-item C# Application for UPS
               h4
                  label ARM Assembly/C
               ul.list-group
                  li.list-group-item
                     a(href="https://github.com/rterrazas328/Add") Add
                  li.list-group-item
                     a(href="https://github.com/rterrazas328/FindMax") FindMax
                  li.list-group-item
                     a(href="https://github.com/rterrazas328/Substitute") Substitute
               h4
                  label C
               ul.list-group
                  li.list-group-item
                     a(href="https://github.com/rterrazas328/C-Arguments-Memory-Map") C Arguments Memory Map
                  li.list-group-item
                     a(href="https://github.com/rterrazas328/Print-VideoData-From-Youtube") Print VideoData From Youtube
                  li.list-group-item
                     a(href="https://github.com/rterrazas328/Random-Matrix-Solver") Random Matrix Solver
                  li.list-group-item
                     a(href="https://github.com/rterrazas328/Sockets-DistanceVector-4Way") Sockets 4-Way Distance Vector
               h4
                  label Bash
               ul.list-group
                  li.list-group-item
                     a(href="https://github.com/rterrazas328/Alphabetical-Directory-Count") Alphabetical Directory Count
                  li.list-group-item
                     a(href="https://github.com/rterrazas328/Average-File-Size") Average File Size
                  li.list-group-item
                     a(href="https://github.com/rterrazas328/Reverse-LS") Reverse LS
                  li.list-group-item
                     a(href="https://github.com/rterrazas328/Extract-Youtube-Metadata") Extract Youtube Metadata
